
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="https://unpkg.com/jquery@3.1.1/dist/jquery.min.js"></script>
</head>
<body>
<div>
    <input type="range" min="0" max="10" oninput="SendUpdate()"/>
</div>
<script type="text/javascript">
    $(document).ready(function() {
    });

    function SendUpdate() {
        $.ajax({
                method: "POST",
                url: "/home/sendupdate",
                data: { key: "1", value: 1 }
            })
            .done(function(msg) {
                alert("Data Saved: " + msg);
            }).fail(function() {
                alert("error");
            })
            .always(function() {
                alert("complete");
            });
    };
    

</script>
</body>
</html>
