<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link type="text/css" href="~/Content/styles.css" rel="stylesheet" />
</head>
<body>
<header>
    <section>
        test
    </section>
</header>
@RenderBody()
<footer></footer>
</body>
</html>
