<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link type="text/css" href="~/Content/styles.css" rel="stylesheet" />
</head>
<body>
<header>
    <section>
        <h1>Esho</h1>
        <span class="phase">pre-alpha</span>
    </section>
</header>
@RenderBody()
<footer>
    <section>
        <p>Esho&trade; is copyright &copy; 2017 Imbick software</p>
    </section>
</footer>
</body>
</html>
