
@{
    ViewBag.Title = "Index";

    var productName = "Dillon";
    var latestVersion = "0.1.0";
}

<section>
    <h2>About</h2>
    <p>Dillon is a lightweight application that allows users to raise events (such as keypresses and joystick movement) on a host machine by interacting with themed graphical user interfaces displayed on different devices.</p>
    <img src="https://i.ytimg.com/vi_webp/GhvTY0fr9bM/sddefault.webp" />
</section>



<section>
    <h2>Download</h2>
    <h3>Latest</h3>
    <table>
        <thead>
        <tr>
            <th>Version</th>
            <th>Platform</th>
            <th>Download</th>
            <th>SHA</th>
        </tr>
        </thead>
        <tbody>
        <tr><td>v@(latestVersion)</td><td>Win x86/x64</td><td class="download"><a href="#" title="Download @productName version @latestVersion">&#9660;</a></td><td></td></tr>
        </tbody>
    </table>
    <h3>Archive</h3>
    <table>
        <tbody>
            <tr><td>v0.0.1</td><td>Win x86/x64</td><td class="download"><a href="#" title="Download @productName version 0.0.1">&#9660;</a></td><td></td></tr>
        </tbody>
    </table>

</section>
<section>
    <h2>Guide</h2>
    <p>Once downloaded, simply run the executable as an administrator (as the host application needs to be able to listen for incoming web requests)</p>
</section>

<section>
    <h2>How does it work</h2>
    <p>host application running in background on gaming machine</p>
    <p>acts as a web host</p>
    <p>devices on same network can access the host app</p>
    <p>not accessible out side of network unless you open ports</p>
    <p>UIs are simply html so can be customised</p>
    <p>each control on the ui can be bound to different actions and buttons</p>
</section>

<section>
    <h2>User interfaces</h2>
    <p>Example <a href="#">link</a> here.</p>
</section>